body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.landing-container {
  position: relative;
  width: 100%;
}

.landing-image {
  width: 100%;
  display: block;
}

a, a:focus, a:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

  #countdown {
    font-size: 24px;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
  }
  
  #countdown span {
    padding: 5px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 5px;
    margin: 0 5px;
  }

/* Fade-out effect */
.fade-out {
  opacity: 0;
  transition: opacity 2s ease-out;
}

  
  #countdown {
    font-size: 24px;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 1px;
  }
  
  #countdown span {
    padding: 5px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 5px;
    margin: 0 5px;
  }

